<div class="hidden sm:block">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col mt-2">
      <div class="align-middle min-w-full overflow-x-auto shadow overflow-hidden sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead>
            <tr>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Book title
              </th>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                User
              </th>
              <th class="px-6 py-3 bg-gray-50 text-right text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
              <th class="px-6 py-3 bg-gray-50 text-right text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <% @lends.each do |lend| %>
            <tr class="bg-white">
              <td class="max-w-0 w-full px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                <div class="flex">
                  <%= link_to lend, class: "group inline-flex space-x-2 truncate text-sm" do %>
                    <p class="text-gray-500 truncate group-hover:text-gray-900">
                      <%= lend.book_name %>
                    </p>
                  <% end %>
                </div>
              </td>
              <td class="px-6 py-4 text-right whitespace-nowrap text-sm text-gray-500">
                <%= link_to user_path(lend.user_id), class: "group inline-flex space-x-2 truncate text-sm" do %>
                  <p class="text-gray-500 truncate group-hover:text-gray-900">
                    <%= lend.user_name %>
                  </p>
                <% end %>
              </td>
              <td class="px-6 py-4 text-right whitespace-nowrap text-sm text-gray-500">
                 <%= link_to 'View', lend %>
              </td>
              <td class="hidden px-6 py-4 whitespace-nowrap text-sm text-gray-500 md:block">
                <%= link_to 'Edit', edit_lend_path(lend) %>
              </td>
              <td class="px-6 py-4 text-right whitespace-nowrap text-sm text-gray-500">
                <%= link_to 'Destroy', lend, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

