<!DOCTYPE html>
<html>
  <head>
    <title>FullStackChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="relative h-screen flex overflow-hidden bg-gray-100">
      <!-- Static sidebar for desktop -->
      <%= render 'layouts/sidebar' %>
      <div class="flex-1 overflow-auto focus:outline-none">
        <main class="flex-1 relative pb-8 z-0 overflow-y-auto">

          <div class="bg-white shadow">
            <div class="px-4 sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">
              <div class="py-6 md:flex md:items-center md:justify-between lg:border-t lg:border-gray-200">
                <div class="flex-1 min-w-0">
                  <!-- Profile -->
                  <div class="flex items-center">
                    <div>
                      <div class="flex items-center">
                        <h1 class="ml-3 text-2xl font-bold leading-7 text-gray-900 sm:leading-9 sm:truncate">
                          <%= controller_name.titleize %>
                        </h1>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-6 flex space-x-3 md:mt-0 md:ml-4">
                <% if action_name == 'index' %>
                  <%= link_to "New #{controller_name.singularize}", url_for(action: :new, controller: controller_name), 
                              class: "inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500" %>
                <% elsif action_name == 'show' %>
                  <%= link_to "Back", url_for(action: :index, controller: controller_name), 
                              class: "inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500" %>
                <% end %>
                </div>
              </div>
            </div>
          </div>


          <div class="mt-8">
            <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
            <%= render 'layouts/notice' %>

            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
